::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb { 
  background: #d8d8d8;
  border-radius: 10px;
}
::-webkit-scrollbar-track { 
  background: #f5f5f5;
}
.page-wapper {
    height: 100vh;
    min-width: 100vw;
        .breadcrumb {
        background-color: #EAECF9 !important;
        padding: 5px;
          }
          .breadcrumb span {
            padding: 0.5rem;
            margin: 0;
            color: #333;
            font-size: 18px;
            font-weight: 800;
            text-transform: uppercase;
            @media (max-width: 1280px) {
              font-size: 15px;
              font-weight: 700;
            }
          }
          
    .content {
        background-color: #fff;

      .content-search {
        padding: 5px;
        margin: 1px 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
  
      .content-body {
        padding: 1px;
        background-color: rgb(239, 199, 199);
      }
  
      .content-header {
        align-items: end;
        display: flex;
  
        .form-group {
          width: calc(100%/ 5);
          @media (max-width: 768px) {
            width: 100%;
          }
  
        }
      }
  
    }

  }

//   form search 
  .search-form {
    text-align: left;
    width: 100%;
    padding: 5px 12px;
  
  
    label {
      font-size: 14px;
      color: #2b3643;
      font-weight: 500;
      @media (max-width: 768px) {
        font-size: 12px;
        padding-right: 5px;
      }
    }
  
    .form-group {
      float: left;
      width: 100%;
      padding-bottom: 0 !important;
      padding-right: 4px !important;
      padding-left: 4px !important;
  
      .form-control {
        border: 1px solid gray;
        width: 100%;
        border-radius: 0;
        height: 26px;
        font-size: 9pt;
        color: #2b3643;
        padding: 2.5px !important;
  
        &::-webkit-input-placeholder {
          font-style: italic;
        }
  
        &.no-value {
          font-style: italic;
        }
  
      }
    }
  
    .group-btn {
      display: flex;
      padding-bottom: 2px;
      flex-direction: row;
    }
  
    .btn {
      height: 28px;
      font-size: 13px;
      line-height: 13px;
      cursor: pointer;
      padding: 6px 16px;
      background-color: #5798E3 ;
      border: 1px solid gray;
      margin: -2px 3px;
      color: #fff;
      font-size: 14px;
      border-radius: 10px;
      font-weight: 600;
      white-space: nowrap;
      @media (max-width: 1280px) {
        font-size: 10px;
        width: fit-content;
        padding: 5px 12px;
      }
      &:hover{
        background-color: #f5f5f5;
        color: #333;
        border: 1px solid black;
      }
    }
    .btn-reset{
      background-color: #f5f5f5;
      color: #333;
      &:hover{
        border: 1px solid black;
        background-color: #5798E3 ;
        color: #fff;
      }
    }
  
  }
  
  .hidden {
    display: none;
  }
//   table
  .table-area {
    margin-bottom: 25px !important;
    margin: 5px;
    padding: 5px;
    width: 100%;
    .show-record{
      width: 100%;
      display: flex;
      align-items: center;
      margin-left: 5px;
      margin-bottom: 5px;
      color: #333;
      .title-show{
        margin-right: 10px;
        span {
          font-size: 14px;
          font-weight: 500;
          line-height: 100%;
        }
      }
      .form-control {
        border-radius: 5px;
        min-width: 48px;
        &:focus{
          border: 1px solid #fff;
        }
      }
    }
    .table {
      width: 100%;
      .odd {
        background-color: #e2e8f0;
    }
      td {
        vertical-align: middle;
      }
      tr {
        cursor: pointer;
        &:hover{
            background-color: #a0c4ed;
            td {
                color: #fff;
            }
        }
      }
      th {
        border: none !important;
        font-size: 16px;
        font-weight: 600;
        padding: 3px;
        background-color: #5798e3;
        color: #f5f5f5;
        white-space: nowrap;
        min-width: 90px;
        position: sticky !important;
        top: 0;
        z-index: 1;
        @media (max-width: 1280px) {
          font-size: 13px;
          font-weight: 500;
          min-width: 80px;
        }
  
        &.th-center {
          text-align: center;
        }
  
        &.th-sort {
          position: relative;
          cursor: pointer;
  
          .icon-vertor-up {
            background: url("./IconVector-Up.svg");
            background-size: 25px 25px;
            height: 10px;
            width: 10px;
            position: absolute;
            right: 4px;
            top: -3px;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            background-position: center;
            background-repeat: no-repeat;
            @media (max-width: 1280px) {
              top: -5px;
            }
          }
  
          .icon-vertor-down {
            background: url("./IconVector-Down.svg");
            background-size: 25px 25px;
            position: absolute;
            background-size: 10px 10px;
            height: 10px;
            width: 10px;
            position: absolute;
            right: 4px;
            top: 0;
            bottom: 5px;
            margin-top: auto;
            @media (max-width: 1280px) {
              top: 5px;
            }
          }
        }
  
        &.th-m-w-150 {
          min-width: 150px;
        }
      }
      
      td {
        border: 1px solid wheat !important;
        padding: 1.5px 2px;
        color: #2b3643;
        white-space: nowrap;
        @media (max-width: 1280px) {
          font-size: 13px;
          font-weight: 500;
        }
      
        &.td-center {
          text-align: center;
        }
        
      }
    }
  
  }

//   popop


