::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb { 
  background: rgb(204, 214, 233);
  border-radius: 20px;
}
::-webkit-scrollbar-track { 

  background: #e7dcdc;
}
.fs-22 {
font-size: 22px;
font-weight: 600;
}

.content-page {
  width: 100%;
  padding-top: 5px;
}

.bg-button {
  background-color: rgba(0, 0, 0, 0.5);
}

